/*
!.gitignore
!.config/
.config/*
!.config/chromium-flags.conf
!.config/alacritty
!.config/picom/
!.config/git
!.config/nvim/
!.config/nvim/*
!.config/mpd/
.config/nvim/coc
.config/nvim/autoload/
.config/nvim/plugged/
.config/nvim/spell/
!.config/i3/
!.config/i3blocks/
!.Xdefaults
!.profile
!scripts/
!scripts/*
!.zshenv
!.config/zsh
!.rclone-exclude

